
*{
    margin: 0;
    padding: 0;
}
.land{
     background-image: url("mountain3.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    /* background: url("mountain3.jpg")  ; */
    height: 100vh;
    text-align: center;
}
.land h1{
    padding-top: 13rem;
    color: #6A372D;
    font-family: Arial, Helvetica, sans-serif
}
.land p{
    padding-top: 0.5rem;
    color: #221817;
    padding-bottom: 1rem;
    font-style: italic;

}
button{
    padding: 9px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgba(106, 55, 45,0.7);
    color: rgb(206, 225, 241);
    
}
button:hover{
    background-color: #651e10;
}


